section.cooking-wall
	.cooking-wall__left-column

		.photo-wall-square
			.photo-wall-square__text
				h4.photo-wall-square__text__title Apples
				p.photo-wall-square__text__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, quasi!

			img(src="images/", alt="")

		.photo-wall__small-square
			img(src="images/", alt="")

		.photo-wall__long-thin
			img(src="images/", alt="")

	.cooking-wall__right-colum