$base-font-size: 20px;
$base-line-height: 36px;


h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	margin-top:0;
	padding-top:0;
	text-transform:uppercase;
	// -webkit-font-smoothing: antialiased;
}


h1{
	line-height: 1.13em;
	letter-spacing: 2px;
	font-size: 20px;

	@include screen (medium){
	 	font-size:26px;
	 }
}

h2{
	font-size: em(38px);
	line-height: 44px;
	letter-spacing: 2px;
}

h3{
	font-size:em(34px);
	line-height: 2em;
	letter-spacing:2px;
}

h4{
	font-size: em(20px);
	margin-top:-11px;
	letter-spacing:1px;
}

h5{
	font-size: em(18px);
	line-height: 1.2em;
}


p{
	font-size: em(20px);
	line-height:2.2em;
	letter-spacing:0.06em;
	line-height:24px;
	font-weight:400;
	font-family:helvetica, sans-serif;
	color:#696969;

	@include screen (medium){
		font-size: em(18px);
	}
	
}

strong{

}

i{
	font-style:italic;
}

blockquote{
	font-size: em(28px);
	line-height:44px;
}

cite{
	// font-family: $copy-font;
	font-size: em(14px);
	// color:$b-color;
}
